/* Detalles graficos
    colores 
    lilaPrincipal: #9575cd 
    lilaSecundario: #c7a4ff
    lilaTercero: #cf97f7
    blancoLila: #c7a4ff
    celestino: aliceblue
    blanco: #fff
    black: #000
*/

$lilaPrincipal: #9575cd;
$lilaSecundario: #c7a4ff;
$lilaTercero: #cf97f7;
$blancoLila: #c7a4ff;
$celestino: aliceblue;
$white: #fff;

$black: #000;


$Gradiant:  linear-gradient(
    90deg,
    rgba(149, 117, 205, 1) 45%,
    rgba(199, 164, 255, 1) 100%);