* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Detalles graficos
    colores 
    lilaPrincipal: #9575cd 
    lilaSecundario: #c7a4ff
    lilaTercero: #cf97f7
    blancoLila: #c7a4ff
    celestino: aliceblue
    blanco: #fff
    black: #000
*/
h1 {
  color: #000;
  text-align: center;
  margin-top: 2%;
  text-transform: uppercase; }

.footer__descripcion {
  color: #000;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px; }

/* AFECTA TODAS LOS BODYS) */
body {
  background-color: #c7a4ff;
  font-family: raleway; }

.exhibicion section {
  margin: 2%; }
  .exhibicion section article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
    margin-bottom: 5%; }
    .exhibicion section article .boxImagenes {
      margin: 3%; }
      .exhibicion section article .boxImagenes div {
        text-align: center; }
        .exhibicion section article .boxImagenes div .btn-lav {
          color: #000;
          background-color: var(--lav);
          border-color: var(--lav); }
          .exhibicion section article .boxImagenes div .btn-lav:hover {
            color: #fff;
            background-color: #cf97f7;
            border-color: #cf97f7;
            transform: scale(0.9); }
  .exhibicion section .contenedora__article-dos {
    display: flex;
    align-items: center;
    justify-content: space-around; }

.contenedor__nosotros {
  width: 100%;
  height: auto; }

/*AFECTA HEADER*/
header {
  background: linear-gradient(90deg, #9575cd 45%, #c7a4ff 100%);
  display: block;
  margin-bottom: 2px; }
  header .navbar {
    display: flex;
    justify-content: right;
    margin-right: 2%;
    background: linear-gradient(90deg, #9575cd 45%, #c7a4ff 100%); }
  header .contenedorheader {
    display: flex;
    justify-content: center; }
    header .contenedorheader img {
      width: 20%;
      margin-top: 0.5%;
      margin-bottom: 0.5%; }
  header #navbarNav {
    justify-content: center;
    flex-wrap: wrap; }
  header .navbar-nav {
    flex-wrap: wrap;
    font-size: 10px; }
  header .container-fluid {
    padding-bottom: 0%; }
  header .nav-link {
    color: aliceblue;
    font-size: 20px; }
  header .redes {
    margin-top: 0%;
    margin-right: 2%;
    display: flex;
    justify-content: right; }

/*AFECTA FOOTER*/
footer {
  bottom: 0;
  margin-top: auto;
  background: linear-gradient(90deg, #9575cd 45%, #c7a4ff 100%); }
  footer .redesfooter {
    text-align: center; }

/*AFECTA HEADER Y FOOTER*/
.bi-facebook, .bi-envelope, .bi-instagram {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff; }
  .bi-facebook:hover, .bi-envelope:hover, .bi-instagram:hover {
    color: #c7a4ff; }

.bi-envelope, .bi-instagram {
  font-size: 2rem; }

/* Celular */
@media only screen and (max-width: 480px) {
  .menulogo {
    width: 350px;
    height: 50px; }
  .nosotros {
    display: none; } }

/* Tablet */
@media only screen and (max-width: 768px) and (max-width: 1023px) {
  body {
    background-color: blue; }
  .contenedorimagen__seccion {
    display: grid;
    grid-template-rows: repeat(1fr, 1);
    grid-template-areas: "imagen1" "imagen2" "imagen3" "imagen4"; } }

.imgCarousel {
  width: 70%;
  height: 300px; }

.carousel-inner img {
  object-fit: scale-down;
  height: 50vh;
  width: 100%; }

.carouselBox {
  margin: 3% 0; }

.nosotros {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  text-align: center;
  margin: auto 30% auto 30%; }
  .nosotros .nosotros__titulo {
    font-size: 35px; }
  .nosotros .nosotros__descripcion {
    margin-top: 20px;
    height: auto;
    width: 100%;
    font-weight: 700;
    font-size: 20px; }
  .nosotros .nosotrosvideo {
    width: 100%;
    height: auto; }

@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  text-align: center;
  padding: 2vh 2vh 2vh 2vh; }

.form-control me-2- {
  justify-items: flex-end; }

.contacto {
  text-align: center; }

.contactocolor {
  background-color: #c7a4ff !important; }

.btn-outline-success {
  background-color: aliceblue; }
