.contacto {
    text-align: map-get($stylesFont , textCentro)
}

.contactocolor {
    background-color: $lilaSecundario;
}

form{
    input{
        margin: 2% 0;
    }
}

.cajaBotones{
    margin: 2% auto;
    width: 25%;
    height: 100%;
    display: flex;
    input{
        width: 80%;
        background-color: $lilaSecundario;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-left: 4%;
        border-radius: 5%;
    }
}