.form-control me-2- {
    justify-items: flex-end;
}

.contacto {
    text-align: center;
}


.contactocolor {
    background-color: #c7a4ff !important;
}

.btn-outline-success {
    background-color: aliceblue;

}