/* Celular */
@media only screen and (max-width: 480px) {

  /* header redes */
  header {
    .redes {
      display: none;
    }

    .contenedorheader {
      img {
        width: 60%;
      }
    }
  }

  .contenedorheader {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .imgCarousel {
    width: 40%;
    height: 200px;
  }

  h1{
    font-size: medium;
  }
  h3{
    font-size: medium;
  }
  
  .nosotros__titulo {
    display: none;
  }
  .menulogo {
    width: 350px;
    height: 50px;
  }

  .exhibicion {
    section {
      margin: 2%;

      article {
        flex-direction: column;
      }
    }
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {

  /*AFECTA HEADER*/
  .contenedorheader {
    display: flex;
    justify-content: center;

    img {
      // max-width: 30%;
      width: 25%;
      margin-top: 0.5%;
      margin-bottom: 0.5%;
    }
  }
}